@CHARSET "UTF-8";

table {
	border-collapse: collapse;
	border: 2px solid teal;
	margin: 0 auto;
}

img {
	height: 50px;
}

td {
	padding: 0 15px;
}

#wrapTrombi {
	width: 1024px;
	margin: 20px auto;
}

.trombi {
	border: 1px solid maroon;
	display: inline-block;
	width: 30%;
	margin: 20px 5px;
	padding: 5px;
}

.trombi img {
	float: left;
	height: 100px;
	margin: 0 10px;
}

.trombi ul li {
	list-style-type: none;
}